*{
    margin: 0;
    font-family: 'Open Sans', sans-serif
}
/* header and navigation style */
.header{
    background: rgb(205, 202, 165);
    background-image: url(images/header_bg.png),url(images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-left: 50px;
}
.id:hover{
    background-color: rgba(155, 33, 2, 0.325);

}

.btn-primary{
     height: 64px;
     border-radius: 5px;
     background: rgba(235, 53, 21, 0.974);
     color: white;
     font-size: 20px;
     font-weight: 700;
     border: 0;
     padding: 18px 35px;
    
     ;

}
.text-primary{
    color: rgba(235, 53, 21, 0.974);
}
/* banner style */
.banner{
    margin: 0 200px;
    align-items: center;
    display: flex;
}


.banner-title{
    font-size: 45px;
    font-weight: 85px;
    margin-bottom: 20px;
}

banner-subtitle{
    font-size: 600;
    font-weight: 45px;
    margin-bottom: 5px;

}
.banner-description{
    color: gray;
    margin-bottom: 15px;
}
/* main */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about section styles */
.about{
    margin-top: 130px;
    background: rgba(181, 243, 89, 0.393) ;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.section-title{
    margin-bottom: 30px;

}
.section-description{
    font-size: 18px;
    margin-bottom: 50px;


}
.about-if-nfo-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
 
.info-title{
    font-size: 20px;
   color: rgb(25, 114, 191);

}

.info-description{

    font-size: 20px;
    font-weight: 700;

}